<Files awstats.pl-custom>
	deny from all
	allow from 127.0.0.1
	allow from www.smart-safe-secure.com
	allow from 209.59.186
	allow from 72.52.238.129
	allow from 72.52.238.130
	allow from 72.52.238.131
</Files>
<Files awstats.pl-custom-embedded>
	deny from all
	allow from 127.0.0.1
	allow from www.smart-safe-secure.com
	allow from 209.59.186
	allow from 72.52.238.129
	allow from 72.52.238.130
	allow from 72.52.238.131
</Files>
<Files awstats.pl-custom-ads>
        deny from all
        allow from 127.0.0.1
        allow from www.smart-safe-secure.com
        allow from 209.59.186
        allow from 72.52.238.129
        allow from 72.52.238.130
        allow from 72.52.238.131
</Files>
